.hidden-questions {
	background-color: rgb(245, 248, 255) !important;

	background-repeat: no-repeat;
	background-size: 80px;
	background-position: right top;
	box-shadow: 0px 0px 8px 0px black inset;
	border-color: black !important;
}

#divPersonalQuestions {
	margin: 0px 70px;
}